#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 2px;
    margin: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
}

.stone {
    background-color: #999;
}

.agent-path {
    position: absolute;
    width: 100%;
    height: 100%;
}
